*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}
body {
    font-family: 'Staatliches', cursive;
    background-color: black;
    color: white;
}
.logo img{
    width: 100%;
    height: 100px;
    align-items: center;
}
img{
    width: 100%;
    height: 300px;
}
.opcionesDer{
    text-align: center;
    color: white;
    margin-bottom: 20px;
}
.opcionesDer a{
    color: white;
}
a{
    text-decoration: none;
}
h1{
    text-align: center;
    font-size: 25px;
    color: white;
    margin: 15px;
}
.datosdelartista img{
    width: 90%;
    border: solid 3px rgb(255, 123, 196);
    margin-left: 20px;
    margin-bottom: 20px;
}
h2{
    text-align: center;
    margin-bottom: 20px;
    background-color: rgb(222, 255, 78);
    color: black;
    font-size: 20px;
}
h3{
    margin-left: 20px;
}
.boton{
    margin-left: 0%;
    text-align: center;
    color:black;
    font-size: 20px;
    font-family: 'Staatliches', cursive;
    background-color: rgb(222, 255, 78);
    border-radius: 10px;
    margin-left: 20%;
    margin-right: 20%;
    margin-bottom: 20px;
    }
.boton:hover{
    color: rgb(222, 255, 78);
    background-color: black;
    border-radius: 10px;
    font-family: 'Staatliches', cursive;
    border: solid rgb(222, 255, 78) 2px;
}
.canciones{
    display: flex;
    justify-content: space-between;
    font-size: 12px;
}
.nombre{
    width: 100%;
    margin-top: 5px;
    width: 100%;    
}
ol li{
    display: flex;
    margin-left: 5px;
    margin-right: 5px;
    font-family: 'Roboto', sans-serif;
    margin-bottom: 20px;
    text-align: left;
    border-bottom:solid gray 1px ;
    justify-content: space-between;
    padding: 13px;
}
.datosdelartista p{
    font-family: 'Roboto', sans-serif;
}
p{
    text-align: center;
    margin-bottom: 20px;
}
.acercadetini{
    text-align: start;
    margin: 0px 15px 15px 15px;
}
.opcIzq a{
    color: white;
}
.opcDer a{
    color: white;
    text-align: center;
    margin: 20px;
}
@media (min-width:768px){
    .encabezado{
        display:flex;
    }
    .logo img{
        display: flex;
        width: 100%;
        height: 20%;
        justify-content: center;
    }
    .inicio{
        display: flex;
        justify-content: space-around;
        list-style-type: none;
        font-size: 30px;
    }
    h1{
        font-size: 50px;
    }
    h2{
        font-size: 40px;
    }
    .datosdelartista img{
    width: 100%;
    height: 25%;
    border: solid 3px rgb(255, 123, 196);
    margin-left: 0%;
    }
    .boton{
        font-size: 40px;
        margin-bottom: 30px;
    }
    h3{
        font-size: 40px;
    }
    p{
       font-size: 30px; 
    }
    ol{
        font-size: 30px;
    }
    .acercadetini{
        margin: 5px 30px 30px 30px;
    }
}
@media (min-width:1024px){
    .encabezado{
        display: flex;
        justify-content: center;
    }
    .logo{
        width: 100%;
    }
    .logo img{
        width: 100%;
    }
    .inicio{
        width: 100%;
    }
    .datosdelartista img{
        height: 25%;
        width: 50%;
        margin-left: 25%;
        margin-bottom: 40px;
    }
    img{
        display: flex;
        justify-content: center;
    }
    .boton{
        margin-bottom: 40px;
    }
    h3{
        margin-left: 50px;
    }
    ol{
        margin-left: 5px;
        margin-right: 5px;
    }
    .acercadetini{
        margin: 10px 55px 55px 55px;
    }
}
