*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}
body {
    font-family: 'Staatliches', cursive;
    background-color: black;
    color: white;
}
.logo img{
    width: 100%;
    height: 100px;
    align-items: center;
}
img{
    width: 100%;
    height: 300px;
}
.inicio li a{
    text-decoration: none;
}
.opcionesDer{
    text-align: center;
    color: white;
    margin-bottom: 20px;
}
.opcionesDer a{
    color: white;
}
h1{
    text-align: center;
    font-size: 25px;
    color: black;
    background-color:rgb(222, 255, 78);
}
h1 a{
    text-decoration: none;
    color:rgb(255, 123, 196) ;
}
.album{
    display: flex;
    margin-top: 17px;
}
.album img{
    width: 45%;
    height: 200px;
    margin-left: 12px;  
}
.info{
    margin-left: 20px;
    width: 35%;
    height: 160px;
    text-align: left;
}
.datos{
    font-family:sans-serif;
    font-weight: lighter;
    font-size: 13px;
    margin-top: 10px;
}
h3{
    font-size: 35px;
}
.datos a{
    color: white;
    text-decoration: none;
    font-weight: bold;
}
.boton{
    font-size: 20px;
    color: black;
    background-color:rgb(222, 255, 78) ;
    margin-top: 15px;
    text-align: center;
    border-radius: 50px;   
}
.boton:hover{
    color: rgb(222, 255, 78);
    background-color: black;
    border-radius: 10px;
    font-family: 'Staatliches', cursive;
    border: solid rgb(222, 255, 78) 2px;
}

.deco{
    display: flex;
    justify-content: space-between;
    color: rgb(219, 219, 219);
    font-family:sans-serif;
    font-weight: lighter;
    border-bottom:solid gray 1px ;
    padding: 2px; 
}
.logos{
    display: flex;
    justify-content: left;
    font-size: 13px;
    margin-right: 23px;
    padding: 3px;  
}
.titulo{
    display: flex;
    font-size: 10px;
}
.numeral{
    margin-right: 20px;
    margin-left: 5px;
}

.lista{
    margin-top: 10px;
    font-family:sans-serif;
    font-weight:500;
}
.canciones{
    display: flex;
    justify-content: space-between;
    font-size: 12px;
}
.nombre{
    width: 100%;
    margin-top: 5px;
    width: 100%;    
}

.nombre li{
    text-align: left;
    border-bottom:solid gray 1px ;
    display: flex;
    justify-content: space-between;
    padding: 13px;
}
.datosDisco{
    margin-bottom: 50px;
}
.nombre p{
   margin-right: 7px;
}
h2{
    font-family: 'Staatliches', cursive;
    text-align: center;
    margin-bottom: 20px;
    background-color: rgb(222, 255, 78);
    color: black;
    font-size: 18px;
}
.opcIzq a{
    color: white;
    text-decoration: none;
}
.opcIzq p{
    text-align: center;
    margin-bottom: 20px;
}
.opcDer a{
    color: white;
    text-align: center;
    margin: 20px;
    text-decoration: none;
}
.opcDer p{
    text-align: center;
    margin-bottom: 20px;
}

/*CSS JS DETALLE GENERO*/
.fotoAlbum{
    padding: 20px;
}
.fotoAlbum img{
    border:solid white;
}
.nombreAlbum{
    font-size:40px ;
    text-align: center;
    margin-bottom: 15px;
    font-family: 'Staatliches', cursive;
}
.nombreArtista{
    text-align: center;
    margin-bottom: 15px;
    font-size: 25px;
    font-family: 'Staatliches', cursive;
}
.fechas{
    margin-bottom: 20px;
    margin-top: 10px;
    font-family: Georgia, 'Times New Roman', Times, serif;
    font-size: 15px;
}

.generos{
    margin-bottom: 20px;
    margin-top: 10px;
    font-family: Georgia, 'Times New Roman', Times, serif;
    font-size: 15px; 
}
.topC{
    font-size:15px ;
    font-family: Georgia, 'Times New Roman', Times, serif;
    margin-bottom: 10px;
    text-align: center; 
}
.topAlbum{
    margin-bottom: 30px;
}

/* CSS DEL SEARCH*/
.inicio{
    align-items: center;
}
.buscador{
    display: flex;
    flex-wrap: nowrap;
    justify-content: center;
    margin-top: 7px;
}
.mensajeError{
    font-size: 15px;
    display: flex;
    flex-wrap: wrap;
   
    font-family:Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    color:rgb(238, 83, 148)
}

@media (min-width:768px){
    .encabezado{
        display:flex;
    }
    .logo img{
        display: flex;
        width: 100%;
        height: 20%;
        justify-content: center;
    }
    .inicio{
        display: flex;
        justify-content: space-around;
        list-style-type: none;
        font-size: 30px;
    }
    h1{
        font-size: 40px;
    }
    .album img{
        width: 45%;
        height: 300px;
        margin-left: 14px;  
    }
    .info{
        margin-top: 15px;
        margin-left: 30px;
        width: 50%;
        height: 250px;
        text-align: left;
       
    }
    .datos{
        font-family:sans-serif;
        font-weight: lighter;
        font-size: 18px;
        margin-top: 10px;
    }
    h3{
        font-size: 45px;
    }
    .boton{
        font-size: 30px;
        margin-top: 25px;
        text-align: center;
        border-radius: 60px;   
        width: 250px;
    }
    .logos{
        font-size: 15px;
    }
    .titulo{
        font-size: 12px;
    }
    .canciones{
        font-size: 15px;
    }  
    h2{
        font-size: 30px;
    }
    .opcIzq a{
        font-size: 25px;
    }
    .opcDer a{
        font-size: 25px;
    }
    .fotos{
        margin-top: 30px;
        padding-right:70px;
        padding-left: 70px;
    }
    .fotos img{
        height: 450px;
    }

    .nombreAlbum{
        font-size:60px ;
        margin-bottom: 15px;
    }
    .fecha{
        font-size: 30px;
    }
    .generos{
        font-size: 20px;
    }

    /*CSS JS DETALLE GENERO*/
    .fotoAlbum{
        margin-top: 30px;
        padding-right:70px;
        padding-left: 70px;
    }
    .fotoAlbum img{
        width: 500px;
       
    }
    .nombreAlbum{
        font-size:50px ;
        text-align: center;
        margin-bottom: 15px;
        font-family: 'Staatliches', cursive;
    }
    .nombreArtista{
        text-align: center;
        margin-bottom: 15px;
        font-size: 30px;
        font-family: 'Staatliches', cursive;
    }
    .fechas{
        margin-bottom: 20px;
        margin-top: 30px;
        font-size: 20px;
    }
    
    .topC{
        font-size:20px ;
    }
    .topAlbum{
        margin-bottom: 35px;
    }
    
}
@media (min-width:1024px){
    .encabezado{
        display: flex;
        justify-content: center;
    }
    .logo{
        width: 100%;
    }
    .logo img{
        width: 100%;
    }
    .inicio{
        width: 100%;
    }
    h1{
        margin-top: 20px;
        font-size: 45px;
    }
    .album img{
        width: 50%;
        height: 350px;
        margin-left: 16px; 
        margin-top: 20px; 
    }
    .info{
        margin-top: 35px;
        margin-left: 40px;
        width: 45%;
        height: 300px; 
    }
    .datos{
        font-size: 21px;
        margin-top: 16px;
    }
    h3{
        font-size: 50px;
    }
    .boton{
        font-size: 35px;
        margin-top: 30px;
        border-radius: 70px;   
        width: 270px;
    }
    .logos{
        font-size: 17px;
    }
    .titulo{
        font-size: 14px;
    }
    .canciones{
        font-size: 17px;
    } 
    
    .fotos{
        padding-right:100px;
        padding-left: 100px;
    }
    .fotos img{
        height: 550px;
    }

    .nombreAlbum{
        font-size:70px ;
        margin-bottom: 15px;
    }
    .fecha{
        font-size: 30px;
    }
    .generos{
        font-size: 25px;
    } 
    /*CSS JS DETALLE GENERO*/
    .fotoAlbum{
        display: flex;
        justify-content: center;
        align-items: center;
        padding-right:100px;
        padding-left: 100px;
    }
    .fotoAlbum img{
        width: 700px;
        height: 570px;
    }
    .nombreAlbum{
        font-size:70px ;
        text-align: center;
        margin-bottom: 15px;
        font-family: 'Staatliches', cursive;
    }
    .nombreArtista{
        margin-bottom: 30px;   
    }
    .fechas{
        font-size: 25px;
    }
    .generos{
        font-size: 25px;   
    }
    .topC{
        font-size:25px ;
    }
    .topAlbum{
        margin-bottom: 35px;
    }  
}

