*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}
body {
    font-family: 'Staatliches', cursive;
    background-color: black;
    color: white;
}
.logo img{
    width: 100%;
    height: 100px;
    align-items: center;
}
img{
    width: 100%;
    height: 300px;
}
.opcionesDer{
    text-align: center;
    color: white;
    margin-bottom: 20px;
}
.opcionesDer a{
    color: white;
}
a{
    text-decoration: none;
}
.fotodua{
    display: flex;
    flex-direction: column;
    align-items: center;
}
.fotodua img{
    width: 80%;
    border: solid 3px rgb(94, 191, 255);
    margin-bottom: 10px;
}
h1{
    font-size: 25px;
    color: white;
    margin: 15px;
}
h1 a{
    color: rgb(255, 123, 196);
}
h3{
    font-size: 20px;
    color: white;
    font-family: 'Roboto', sans-serif;
    margin-left: 20px;
    margin-bottom: 5px;
}

.trackdua{
    display: flex;
    flex-direction: column;
    margin-left: 20px;
}
.nombre{
    width: 100%;
    margin-top: 5px;
    width: 100%;    
}
ol li{
    display: flex;
    margin-right: 5px;
    font-family: 'Roboto', sans-serif;
    margin-bottom: 10px;
    text-align: left;
    border-bottom:solid gray 1px ;
    border-top:solid gray 1px ;
    justify-content: space-between;
    padding: 13px;
}
.dualipa{
    font-size: 20px;
    margin-bottom: 5px;
}
.nombredisco{
    font-family: 'Roboto', sans-serif;
    font-size: 15px;
    margin-bottom: 20px;
}
h4{
    text-align: center;
    margin-bottom: 30px;
}
h4 a{
    color: rgb(94, 191, 255);
}
h2{
    text-align: center;
    margin-bottom: 10px;
    background-color: rgb(222, 255, 78);
    color: black;
    margin-top: 10px;
}
.opcIzq a{
    color: white;
 
}
.opcIzq p{
    text-align: center;
    margin-bottom: 20px;
  
    
}
.opcDer a{
    color: white;
    text-align: center;
    margin: 20px;
    
   
}
.opcDer p{
    text-align: center;
    margin-bottom: 20px;
    
}
.playlist a{
    border-radius: 10px;
    background-color: rgb(222, 255, 78);
    color: black;
    padding: 10px;
    display: flex;
    margin-left: 20%;
    margin-right: 20%;
    margin-bottom: 50px;
    justify-content: center;
}
.playlist a:hover{
    color: rgb(222, 255, 78);
    background-color: black;
    border-radius: 10px;
    font-family: 'Staatliches', cursive;
    border: solid rgb(222, 255, 78) 2px;
}

/* CSS DEL SEARCH*/
.inicio{
    align-items: center;
  
}
.buscador{
    display: flex;
    flex-wrap: nowrap;
    justify-content: center;
    margin-top: 7px;
}
.mensajeError{
    font-size: 15px;
    display: flex;
    flex-wrap: wrap;
   
    font-family:Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    color:rgb(238, 83, 148)
}

/*CSS JS*/
.fotos{
    padding: 20px;
}
.fotos img{
    border:solid white;
}

.nombreCancion{
    font-size:40px ;
    text-align: center;
    margin-bottom: 15px;
    
}
.nombreArtista{
    text-align: center;
    margin-bottom: 15px;
    font-size: 25px;
    
}
.nombreAlbum{
    text-align: center;
    margin-bottom: 20px;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}
.video{
    padding: 20px;
    margin-bottom: 10px;
}

.boton1{
    text-align: center;
    color:black;
    font-size: 20px;
    font-family: 'Staatliches', cursive;
    background-color: rgb(222, 255, 78);
    padding-left: 30px;
    padding-right: 30px;
    margin-top: 10px;
    margin-bottom: 20px;
}
.miLista a{
        border-radius: 10px;
        background-color: rgb(255, 123, 196);
        color: black;
        padding: 10px;
        display: flex;
        margin-left: 20%;
        margin-right: 20%;
        margin-bottom: 50px;
        justify-content: center;
    }
.miLista a:hover{
        color:rgb(255, 123, 196);
        background-color: black;
        border-radius: 10px;
        font-family: 'Staatliches', cursive;
        border: solid rgb(255, 123, 196);
    }

@media (min-width:768px){
    .encabezado{
        display:flex;
    }
    .logo img{
        display: flex;
        width: 100%;
        height: 20%;
        justify-content: center;
    }
    .inicio{
        display: flex;
        justify-content: space-around;
        list-style-type: none;
        font-size: 30px;
    }
    h1{
        font-size: 50px;
    }
    .fotodua img{
        height: 25%;
    }
    h3{
        font-size: 40px;
        margin-bottom: 20px;
    }
    .dualipa{
        font-size: 35px;
        margin-bottom: 20px;
    }
    ol{
        font-size: 30px;
        margin-bottom: 10px;
    }
    .nombredisco{
        font-size: 30px;
        margin-bottom: 30px;
    }
    .boton{
        font-size: 40px;
        margin-bottom: 30px;
    }
    h4{
        font-size: 30px;
        margin-bottom: 80px;
    }
    h2{
        font-size: 30px;
    }
    .opcIzq a{
        font-size: 25px;
    }
    .opcDer a{
        font-size: 25px;
    }
    /*CSS JS*/
    .fotos{
        margin-top: 30px;
        padding-right:70px;
        padding-left: 70px;
        
    }
    .fotos img{
        
        height: 450px;
    }

    .nombreCancion{
        font-size:60px ;
        margin-bottom: 15px;
    }
    .nombreArtista{
      
        font-size: 30px;
    }
    .nombreAlbum{
        font-size: 20px;
    }
    .video{
        margin-top: 20px;
        margin-bottom: 20px;
        padding-right:70px;
        padding-left: 70px;
    }
   iframe{
    height: 450px;
   }
   .boton1{
    font-size: 30px;
}
    
}


    @media (min-width:1024px){
        .encabezado{
            display: flex; 
            justify-content: center;
            
        }   
        .logo{
            width: 100%;
        }
        .logo img{
            width: 100%;
        }
        .inicio{
            width: 100%;
        }
        .fotodua img{
            height: 25%;
            width: 50%;
            margin-bottom: 40px;
        }
        img{
            display: flex;
            justify-content: center;
        }
        h3{
            margin-left: 10px;
        }
        .dualipa{
            margin-left: 30px;
        }
        .nombredisco{
            margin-left: 30px;
        }
        /*CSS JS*/
        .fotos{
            padding-right:100px;
            padding-left: 100px;
        }
        .fotos img{
            height: 570px;
        }

        .nombreCancion{
            font-size:70px ;
            margin-bottom: 15px;
        }
        .nombreArtista{
        
            font-size: 30px;
        }
        .nombreAlbum{
            font-size: 25px;
        }
        .video{
            padding-right:100px;
            padding-left: 100px;
        }
       iframe{
        height: 550px;
       }
       .boton1{
           font-size: 30px;
       }
       .boton{
        padding-left: 30px;
        padding-right: 30px;
        margin-top: 10px;
        margin-bottom: 20px;
        }
    }