*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}
/* Genero*/
.generos{
    display: flex;
    flex-wrap: wrap;
    
}
.gen a {
    width: 50%;
    align-items: center;
    justify-content: center;
    margin-right: 0;
     
}
img{
    width: 100%;
    height: 300px;
}
.gen img{
    width: 100%;
    justify-content: center;
    border: solid 3px white;
}
.gen{
    padding: 50px;
}


/* Detalle genero*/
body {
    font-family: 'Staatliches', cursive;
    background-color: black;
    color: white;
}
.logo img{
    width: 100%;
    height: 100px;
    align-items: center;
}
img{
    width: 100%;
    height: 300px;
}

.inicio li a{
    text-decoration: none;
}
.opcionesDer{
    text-align: center;
    color: white;
    margin-bottom: 20px;
}
.opcionesDer a{
    color: white;
}
h1{
    background-color: rgb(222, 255, 78);
    color: black;
    text-align: center;
    font-size: 35px;
    margin-bottom: 20px;
    
}
h2{
    font-size: 18px;
    text-align: center;
    margin-bottom: 15px;
    color: rgb(255, 123, 196);
    border-top:solid gray 1px ;
    border-bottom:solid gray 1px ;
    padding: 5px;
}
img{
    width: 100%;
    height: 300px;
    
}
.lista img{
    align-items: center;
    border: solid 3px white;
    
    width: 70%;
    margin-left: 15%;
    margin-right:15%; 
}
.lista{
    padding: 10px;
    margin-bottom: 10px;
    width: 100%;
}
h3{
    font-size: 20px;
    margin-bottom: 5px;
    text-align: center; 
}
p{
    font-family:sans-serif;
    margin-bottom: 7px;
    font-size: 14px;
    text-align: center; 
}
.oyente{
    color: gray;
    font-size: 12px;
}

.opcIzq a{
    
    color: white;
    text-decoration: none;
}

.footer{
    text-align: center;
    margin-bottom: 20px;
    background-color: rgb(222, 255, 78);
    color: black;
    font-size: 15px;
}
.foot{
    font-family: 'Staatliches', cursive;
}
.opcIzq a{
    color: white;
    text-decoration: none;
}
.opcIzq p{
    text-align: center;
    margin-bottom: 20px;
}
.opcDer a{
    color: white;
    text-align: center;
    margin: 20px;
    text-decoration: none;
}
.opcDer p{
    text-align: center;
    margin-bottom: 20px;
}
@media (min-width:768px){
    /*Genero*/
    .generos{
        display: flex;
        justify-content: center;
       
    }
    .gen {
        padding: 15px;
        width: 45%;
        margin: 0;
        margin-top: 20px;
        justify-content: center;
    }
    .opcIzq{
        margin-top: 50px;
    }
    /* Detalle genero*/
    .encabezado{
        display:flex;
    }
    .logo img{
        display: flex;
        width: 100%;
        height: 20%;
        justify-content: center;
    }
    .inicio{
        display: flex;
        justify-content: space-around;
        list-style-type: none;
        font-size: 30px;
    }
    .lista{
        width: 50%;
        margin: 0;
        margin-top: 20px;
        justify-content: center;
       
    }
    .lista img{
        display: flex;
        justify-content: space-between;
        width: 95%;
        margin: 0px;
        margin-left: 10px;

    }
    .masEsc{
        display: flex;
        flex-wrap: wrap;
        justify-content: center;
    }
    h2{
        font-size: 25px;
    }
    h3{
        font-size: 25px;
    }
    .oyente{
        font-size: 14px;
    }
    p{
        font-size: 16px;
    }
    .footer{
        font-size: 30px;
    }
    .opcIzq a{
        font-size: 25px;
    }
    .opcDer a{
        font-size: 25px;
    }

}
@media (min-width:1024px){
    /* Genero*/
    .gen {
        width: 30%;
        margin-left: 0;
        margin-right: 0;
        padding: 10px;
        margin-top: 20px;
        justify-content: center;
    }
    .opcIzq{
        margin-top: 50px;
    }
    /* Detalle Genero*/
    .encabezado{
        display: flex;
        justify-content: center;
    }
    .logo{
        width: 100%;
    }
    .logo img{
        width: 100%;
    }
    .inicio{
        width: 100%;
    }
    h2{
        font-size: 30px;
    }
    .lista{
        width: 30%;
        margin: 0;
        margin-top: 20px;
        justify-content: center;
    }

}