*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}
/* Genero*/
body{
        font-family: 'Staatliches', cursive;
        background-color: black;
        color: white;
}
.generos{
    display: flex;
    flex-wrap: wrap;
}
.gen a {
    width: 50%;
    align-items: center;
    justify-content: center;
    margin-right: 0;
     
}
img{
    width: 100%;
    height: 300px;
}
.gen img{
    width: 100%;
    justify-content: center;
    border: solid 3px white;
}
.gen{
    padding: 20px;
}


/* Detalle genero*/
.logo img{
    width: 100%;
    height: 100px;
    align-items: center;
}
img{
    width: 100%;
    height: 300px;
}

.inicio li a{
    text-decoration: none;
}
.opcionesDer{
    text-align: center;
    color: white;
    margin-bottom: 20px;
}
.opcionesDer a{
    color: white;
}
h1{
    text-align: center;
    margin-bottom: 10px;
    background-color: rgb(222, 255, 78);
    color: black;
    margin-top: 10px;
    text-decoration: none;
    
}
h2{
    text-align: center;
    margin-bottom: 10px;
    background-color: rgb(222, 255, 78);
    color: black;
    margin-top: 10px;
}
img{
    width: 100%;
    height: 300px;
    
}
.lista img{
    align-items: center;
    border: solid 3px white;
    
    width: 70%;
    margin-left: 15%;
    margin-right:15%; 
}
.lista{
    padding: 10px;
    margin-bottom: 10px;
    width: 100%;
}
h3{
    font-size: 20px;
    margin-bottom: 5px;
    text-align: center; 
}
.opcIzq a{
    
    color: white;
    text-decoration: none;
}

.footer{
    text-align: center;
    margin-bottom: 20px;
    background-color: rgb(222, 255, 78);
    color: black;
    font-size: 15px;
}
.opcIzq a{
    color: white;
    text-decoration: none;
}
.opcIzq p{
    text-align: center;
    margin-bottom: 20px;
}
.opcDer a{
    color: white;
    text-align: center;
    margin: 20px;
    text-decoration: none;
}
.opcDer p{
    text-align: center;
    margin-bottom: 20px;
}
/*CSS DETALLE GENERO*/
.fotoArtista{
    display: flex;
    flex-wrap:wrap;
    justify-content: center;
    padding: 20px;
    
}
.fotos{
    padding: 20px;
}
.fotos img{
    border:solid white;
}
.nombreArt{ 
    display: flex;
    font-size:40px ;
    text-align: center;
    margin-bottom: 15px;
    text-align: center;
    
    justify-content: center;
}
.caja{
    align-items: center;
    font-size: 25px;
    
}
/* CSS DEL SEARCH*/
.inicio{
    align-items: center;
  
}
.buscador{
    display: flex;
    flex-wrap: nowrap;
}
.mensajeError{
    font-size: 15px;
    display: flex;
    flex-wrap: wrap;
   
    font-family:Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    color:rgb(238, 83, 148)
}
@media (min-width:768px){
    /*Genero*/
    .generos{
        display: flex;
        justify-content: center;
    }
    .gen {
        padding: 15px;
        width: 45%;
        margin: 0;
        margin-top: 20px;
        justify-content: center;
    }
    .opcIzq{
        margin-top: 50px;
    }
    /* Detalle genero*/
    .encabezado{
        display:flex;
    }
    .logo img{
        display: flex;
        width: 100%;
        height: 20%;
        justify-content: center;
    }
    .inicio{
        display: flex;
        justify-content: space-around;
        list-style-type: none;
        font-size: 30px;
    }
    .lista{
        width: 50%;
        margin: 0;
        margin-top: 20px;
        justify-content: center;
       
    }
    .lista img{
        display: flex;
        justify-content: space-between;
        width: 95%;
        margin: 0px;
        margin-left: 10px;

    }
    .masEsc{
        display: flex;
        flex-wrap: wrap;
        justify-content: center;
    }
    h2{
        font-size: 25px;
    }
    h3{
        font-size: 25px;
    }
    .oyente{
        font-size: 14px;
    }
    p{
        font-size: 16px;
    }
    .footer{
        font-size: 30px;
    }
    .opcIzq a{
        font-size: 25px;
    }
    .opcDer a{
        font-size: 25px;
    }

}
@media (min-width:1024px){
    /* Genero*/
    .gen {
        width: 30%;
        margin-left: 0;
        margin-right: 0;
        padding: 10px;
        margin-top: 20px;
        justify-content: center;
    }
    .opcIzq{
        margin-top: 50px;
    }
    /* Detalle Genero*/
    .encabezado{
        display: flex;
        justify-content: center;
    }
    .logo{
        width: 100%;
    }
    .logo img{
        width: 100%;
    }
    .inicio{
        width: 100%;
    }
    h2{
        font-size: 30px;
    }
    .lista{
        width: 30%;
        margin: 0;
        margin-top: 20px;
        justify-content: center;
    }
}