
.resultados a{
    color:white;
    font-size: 17px;
}

/* CSS DEL SEARCH*/
.inicio{
    align-items: center;
  
}
.buscador{
    display: flex;
    flex-wrap: nowrap;
    justify-content: center;
    margin-top: 7px;
}
.mensajeError{
    font-size: 15px;
    display: flex;
    flex-wrap: wrap;
   
    font-family:Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    color:rgb(238, 83, 148)
}


@media (min-width:768px){
    .resultados a{ 
        font-size: 25px;
    }
    .tituloBusqueda{
        font-size: 40px;
        
    }
}
@media (min-width:1024px){
    .resultados a{
        font-size: 35px;
    }
    .tituloBusqueda{
        font-size: 50px; 
    }
}
